/* BASIC CSS RESET */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

/* FARVER */
:root {
    --background-color: #2A2A2A;
    --menu-color: #E9E9E9;
    --font-color: #F9F9F9;
    --accent-color: #8DBE5C;
}

[data-theme="light"] {
    --font-color: #2A2A2A;
    --menu-color: #838383;
    --background-color: #F9F9F9;
    --accent-color: #8DBE5C;
}



/* BODY */
body {
    max-width: 100%;
    margin: 0 auto;
    font-family: "Poppins", sans-serif;
    font-size: 1rem;
    color: var(--white);
}

/* FONT REGLER */
h1,
h2,
h3,
h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: var(--white);
    font-family: "Poppins", sans-serif;
    color: var(--white);
}

h1 {
    font-size: 1.8rem;
}

h2 {
    font-size: 1.6rem;
}

h3 {
    font-size: 1.4rem;
}

h4 {
    font-size: 1.2rem;
}

.fixedMargin {
    margin-left: 5%;
    margin-right: 5%;
}

.mobilewrap {
    max-width: 480px;
    min-height: 800px;
    background-color: var(--background-color);
}

/* KNAP */
.testKnap {
    background-color: var(--green);
}

/*=============== NAVIGATION, SD ===============*/
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: end;
    position: fixed;
    bottom: 0;
    width: 480px;
    padding: 15px 10px;
    background-color: var(--background-color);
}

.menupunkt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--menu-color);
    font-size: 12px;
    text-transform: uppercase;
}

.menupunkt.active {
    color: var(--accent-color);
}

.menupunkt svg {
    font-size: 35px;
}

.sticon svg {
    font-size: 40px;
}

.menupunkt p {
    padding-top: 3px;
}